
<img src="../../img/ods_stickers.jpg">

## <center> [mlcourse.ai](https://mlcourse.ai) – открытый курс OpenDataScience по машинному обучению 

Автор материала: Юрий Кашницкий (@yorko в Slack ODS). Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/mlcourse.ai/data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
data.shape

(32561, 15)

In [ ]:
data = data.drop_duplicates()
data.shape

(32537, 15)

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [ ]:
# Ваш код здесь
data[data['sex'] == 'Male'].shape[0]

21775

In [ ]:
data[data['sex'] == 'Female'].shape[0]

10762

**2. Каков средний возраст (признак *age*) женщин?**

In [ ]:
# Ваш код здесь
data[data['sex'] == 'Female']['age'].describe()

count    10762.000000
mean        36.864709
std         14.015010
min         17.000000
25%         25.000000
50%         35.000000
75%         46.000000
max         90.000000
Name: age, dtype: float64

**3. Какова доля граждан Германии (признак *native-country*)?**

In [ ]:
data['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [ ]:
# Ваш код здесь
citizens_germany = data[data['native-country'] == 'Germany'].shape[0]
all_citizens = data['native-country'].shape[0]
citizens_germany / all_citizens

0.004210591019454774

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [ ]:
data['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

In [ ]:
# Ваш код здесь
data[data['salary'] == '>50K']['age'].describe()

count    7839.000000
mean       44.250925
std        10.520102
min        19.000000
25%        36.000000
50%        44.000000
75%        51.000000
max        90.000000
Name: age, dtype: float64

In [ ]:
data[data['salary'] == '<=50K']['age'].describe()

count    24698.000000
mean        36.787392
std         14.017335
min         17.000000
25%         25.000000
50%         34.000000
75%         46.000000
max         90.000000
Name: age, dtype: float64

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [ ]:
# Ваш код здесь
data[data['salary'] == '>50K']['education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

Ложь. Видно, что среди тех людей, которые получают >50к, есть люди с любым уровнем образования.

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [ ]:
# Ваш код здесь
agg_func_describe = {'age': ['describe']}
data.groupby(['race', 'sex']).agg(agg_func_describe).round(2)

                               age                                         \
                          describe
                             count   mean    std   min   25%   50%    75%
race               sex
Amer-Indian-Eskimo Female    119.0  37.12  13.11  17.0  27.0  36.0  46.00
                   Male      192.0  37.21  12.05  17.0  28.0  35.0  45.00
Asian-Pac-Islander Female    346.0  35.09  12.30  17.0  25.0  33.0  43.75
                   Male      692.0  39.00  12.75  18.0  29.0  37.0  46.00
Black              Female   1555.0  37.85  12.64  17.0  28.0  37.0  46.00
                   Male     1567.0  37.70  12.88  17.0  27.0  36.0  46.00
Other              Female    109.0  31.68  11.63  17.0  23.0  29.0  39.00
                   Male      162.0  34.65  11.36  17.0  26.0  32.0  42.00
White              Female   8633.0  36.82  14.33  17.0  25.0  35.0  46.00
                   Male    19162.0  39.66  13.44  17.0  29.0  38.0  49.00



                            max
race               sex
Amer-Indian-Eskimo Female  80.0
                   Male    82.0
Asian-Pac-Islander Female  75.0
                   Male    90.0
Black              Female  90.0
                   Male    90.0
Other              Female  74.0
                   Male    77.0
White              Female  90.0
                   Male    90.0

максимальный возраст мужчин расы Amer-Indian-Eskimo: 82

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [ ]:
married_cat = ["Married-civ-spouse", "Married-spouse-absent", "Married-AF-spouse"]

In [ ]:
# Ваш код здесь
married_men = data[(data['sex'] == 'Male') & (data['marital-status'].isin(married_cat))]
single_men = data[(data['sex'] == 'Male') & (~data['marital-status'].isin(married_cat))]

In [ ]:
print(married_men[married_men['salary'] == '>50K'].shape[0])
print(married_men.shape[0])

5963
13535

In [ ]:
married_men[married_men['salary'] == '>50K'].shape[0] / married_men.shape[0]

0.44056150720354637

In [ ]:
print(single_men[single_men['salary'] == '>50K'].shape[0])
print(single_men.shape[0])

697
8240

In [ ]:
single_men[single_men['salary'] == '>50K'].shape[0] / single_men.shape[0]

0.0845873786407767

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [ ]:
# Ваш код здесь
max_hpw = data['hours-per-week'].describe()['max']
max_hpw

99.0

In [ ]:
persons_max_hpw = data[data['hours-per-week'] == max_hpw]
persons_max_hpw.shape[0]

85

In [ ]:
rich_persons_max_hpw = persons_max_hpw[persons_max_hpw['salary'] == '>50K']
rich_persons_max_hpw.shape[0] / persons_max_hpw.shape[0]

0.29411764705882354

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [ ]:
# Ваш код здесь
data.groupby(['native-country', 'salary']).agg({'hours-per-week': ['mean']}).T

native-country               ?              Cambodia           Canada  \
salary                   <=50K       >50K      <=50K  >50K      <=50K
hours-per-week mean  40.165138  45.547945  41.416667  40.0  37.914634

native-country                      China         Columbia        ...  \
salary                    >50K      <=50K  >50K      <=50K  >50K  ...
hours-per-week mean  45.641026  37.381818  38.9  38.684211  50.0  ...

native-country        Thailand            Trinadad&Tobago       United-States  \
salary                   <=50K       >50K           <=50K  >50K         <=50K
hours-per-week mean  42.866667  58.333333       37.058824  40.0     38.803812

native-country                    Vietnam       Yugoslavia
salary                    >50K      <=50K  >50K      <=50K  >50K
hours-per-week mean  45.505789  37.193548  39.2       41.6  49.5

[1 rows x 82 columns]